.footer{
    background-color: #EDEDED;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0;
}
.footerLink{
    display: flex;
    flex-direction: column;
}
.footerLink h4{
    font-size: 22px;
}
.footerLink a{
    color: #444444 !important;
    font-size: 18px;
    line-height: 30px;
}
.footerLink a:hover{
    font-weight: bold;
}

@media screen and (max-width : 800px){
    .footer{
        flex-direction: column;
        padding-left: 20%;
    }
    .footerLink h4{
        margin-bottom: 0;
    }
}
@media screen and (max-width : 500px){
    .footer{
        flex-direction: column;
        padding-left: 10%;
    }
}