.texteVendre{
    text-align: center;
    padding: 100px 25% 100px 25%;
    color: #444444;
}
.texteVendre h2{
    margin: 0;
    font-size: 28px;
}
.texteVendre p{
    font-size: 20px;
    line-height: 25px;
}
.texteVendre span{
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .texteVendre{
        padding: 100px 5% 100px 5%;
    }
  }
  @media screen and (max-width: 500px) {
    .texteVendre p{
        font-size: 16px;
        line-height: 20px;
    }
  }
  