.interLink{
    display: flex;
    background-color: #EDEDED;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 80px 10% ;
}

@media screen and (max-width : 1024px){
    .interLink{
        padding:0% ;
    }
}