.services{
    text-align: center;
    color: #444444;
    background-color: #EDEDED;
    padding: 100px ;
}
.iconsList{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width : 1024px){
    .services{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .iconsList{
        width: 90% !important;
    }   
}
@media screen and (max-width : 600px){
    
}