.propertyList{
    margin-top: 200px;
    padding: 0 10%;
}
.propertyList select{
    margin-right: 30px;
    margin-bottom: 50px;
}
.propertyCardList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media screen and (max-width : 1024px){
    .propertySelect{
        display: flex;
    }
    .propertyList{
        margin-top: 500px;
    }
}
@media screen and (max-width : 500px){
    .propertyList{
        margin-top: 200px;
    }
    .propertyList select{
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .propertySelect{
        flex-direction: column;
    }

}