.propertyCard{
    width: 30%;
    margin-bottom: 50px;
    transition: all .5s;

}
.propertyCard:hover{
    transform: scale(0.95);
}
.propertyImage{
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}
.propertyImage p{
    color: #EDEDED;
    font-weight: bold;
    font-size: 24px;
    top: 80%;
    position: relative;
}
.propertyCardInfo h3, p{
    margin: 0;
    color: #444444;
}

@media screen and (max-width : 1024px){
    .propertyCard{
        width: 45%; 
    }   
}
@media screen and (max-width : 600px){
    .propertyCard{
        width:100%;
    }
    .propertyImage{
        height: 200px;
    }

}