.image{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.thumbnail{
    width: 48%;
    height: 500px;
}
.thumbnail img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
}
.gallerie{
    width: 48%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.gallerie img{
    width: 47%;
    margin: 5px;
    max-height: 250px;
    border-radius: 10px;
}
.titleProperty{
    text-align: center;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}
.propertyInfo{
    margin-top: 150px !important;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 150px;
}
.propertyDescriptif{
    width: 45%;
    height: 300px;
    background-color: #EDEDED;
    border-radius: 15px;
    padding: 40px;
    text-align: justify;
}
.propertyDescriptif h2{
    text-align: center;
}
.local{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.local span{
    font-weight: bold;
}
.propertyCaracteristique{
    width: 45%;
    height: 300px;
    border-radius: 15px;
}
.propertyCaracteristique h2{
    text-align: center;
}
.essai{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
}
.dividertest{
    width: 70%;
    height: 2px;
    border-bottom: 2px dotted black;
}