.contenu {
  margin-top: 550px;
}

/*-------Page Agence-------*/
.agence {
  margin-top: 600px !important;
  margin-bottom: 100px !important;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.agenceLeft {
  width: 40%;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
}
.agenceRight {
  width: 40%;
  height: 450px;
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
}
.agenceRight p {
  font-size: 20px;
  margin: 20px;
}
.agenceRight h3 {
  font-size: 24px;
  margin: 20px;
}
.phoneCard{
  margin: 20px;
}
.agenceHoraire {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
.agenceHoraire p {
  font-weight: bold;
  font-size: 20px;
}

/*-------Page Vendre------*/
.contenu h1 {
  color: #444444;
  text-align: center;
}

/*-------Page Estimation-------*/
.titleAccordion{
  margin-left: 10%;
  color: #444444;
  margin-bottom: 40px;
}



.test{
  position: relative;
}



@media  screen and (max-width : 1024px) {
  .contenu{
    margin-top: 100vh;
  }
  .agence {
    margin-top: 800px !important;
  }
  
}
@media  screen and (max-width : 600px) {
  .contenu h1{
    font-size: 25px;
  }
  .agence{
    flex-direction: column;
  }
  .agenceLeft, .agenceRight{
    width: 100%;
    padding: 0%;
    margin-bottom: 20px;
  }
  .agenceHoraire p {
    font-weight: bold;
    font-size: 16px;
  }
  
}