.estimationText{
   width: 100%;
height: auto;
display: flex;
justify-content: space-between;
 background-color: #444;
 margin-top: 250px;
}
.estimationTextImg{
    width: 35%;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: 10%;
    border-radius: 15px;
}
.estimationTextInfo {
    width: 35%;
    margin-right: 10%;
    margin-top: -90px;
    margin-bottom: 100px;
    font-size: 20px;
}
.estimationTextInfo h2{
    font-size: 28px;
    color: #444444;
    margin-bottom: 45px;
}
.estimationTextInfo p{
    color: #EDEDED;
}

@media screen and (max-width : 1024px){
    .estimationTextImg{
        display: none;
    }
    .estimationTextInfo {
        width: 80%;
        margin: 0 auto;
        margin-top: -100px;
        margin-bottom: 100px;
    
    }
}
@media screen and (max-width : 500px){
    .estimationTextInfo {
       font-size: 16px;
    
    }

}
