.estimationCalc{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.calcCard{
    background-color: #EDEDED;
    padding: 25px;
}
.calcEtapes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.etapes{
    text-align: center;
}
.etapeNumber{
    color: #EDEDED;
    background-color: #171717;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.calcDivider{
    margin-left: 6%;
    height: 2px;
    width: 35%;
    background-color: #444;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .box {
    background-color: #171717;
}
input[type="radio"]:checked + .box span {
    color: #EDEDED;
    transform: translateY(70px);
}
input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
}
.box {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    cursor: pointer;
    position: relative;
    font-weight: 900;
}
.box:hover{
    background-color: #171717;
}
.box:hover span{
    color: #EDEDED;

}
.box:active {
    transform: translateY(10px);
}
.box span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1.5em;
    user-select: none;
    color: #171717;
}
.box span:before {
    font-size: 1.2em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}
.appartement span:before {
    content: "\2714";
}
.maison span:before {
    content: "\2714";
}
.suivant{
    margin-top: 20px;
}
.estimationForm{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.formCard{
    background-color: #EDEDED;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.estimationInput{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 15px !important;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 4px 19px 2px rgba(0,0,0,0.35);
    padding-left: 10px;
}
.estimationFormBtn{
    width: 40%;
    margin: 0 auto;
}
